/* actual modal */
/* .modal {
    
} */

/* modal content */
/* .modal-content {
    height: 400px;
};

#form-row {
    padding: 10px;
}; */

/* modal header */
/* .model-header{

} */

/* modal h5 */
/* .model-title {

} */

/* X Button */
/* .Close {

} */

/* Modal Body */
/* .modal-body {
    height: 90%;
} */

/* Modal Footer */
/* .modal-footer {

} */